/* CSS styling page for personal website */

html {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

h1 {
  margin: 0 auto;
  margin-top: 22%;
  width: 50%;
  height: 400px;
  font-weight:normal;
  font-size: 60px;
  color:white;
}

body {
  background-color: #F2F2F2;
}

.contact {
  font-weight:200;
}

.footer {
  position:absolute;
  left:0;
  width:100%;
  color:white;
  text-align:center;
}

.social {
  width: 50px;
  height: 50px;
}

.container {
  padding-top: 7.5%;
  margin-top: 20px;
  text-align:center;
}

.campus {
  width:50%;
  height:50%;
}

.education {
  width:300px;
  height:300px;
  margin-right:2.5%;
  margin-left:2.5%;
}

.education:hover, .work:hover, .social:hover {
  opacity:0.75;
  cursor:pointer;
  transition: 0.3s;
}

.work {
  width:750px;
}

div.background {
  background-image: url("img/colorProfile.jpg");
  background-repeat:no-repeat;
  background-size:100%;
  background-attachment: scroll;
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
  position:absolute;
  max-height: 720px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

div.musicBackground {
  image: url("img/headshot.jpg");
  background-repeat:no-repeat;
  background-size:100%;
  background-attachment: scroll;
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
  position:absolute;
  max-height: 720px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
